.gallery {
    margin: 10px 50px;
    align-content: center;
}
.gallery img {
    transition: 1s;
    padding: 15px;
    width:250px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
